.contacts {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 18px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $color-2;

  @include reset;

  margin-top: 19px;
}

.contacts li:last-child {
  @media (max-width: $tablet-width-max) {
    margin-right: -10px;
  }
}

.contacts li {
  margin-left: 75px;

  @media (max-width: $tablet-width-max) {
    margin-left: 15px;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 5px;
  }
}

.contacts a {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.contacts svg {
  margin-bottom: -3px;

  @media (max-width: $tablet-width-max) {
    width: 24px;
    height: 24px;
    margin-top: -10px;
  }
}

.contacts span {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
