.feedback {
  background-color: $color-3;
  background-image: url("../img/feedback-bg@1x.png");
  background-repeat: no-repeat;
  background-position: calc(50vw - 780px) -60px;
  background-size: 1891px 765px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-bg@2x.png");
  }

  @media (max-width: 1330px) {
    //background-position: calc(50vw - 620px) 60px;
    background-position: calc(50vw - 570px) 60px;
    background-size: 90% auto;
    //background-size: 1111px 450px;
  }

  @media (max-width: $tablet-width-max) {
    background-image: none;
  }
}

.feedback__container {
  position: relative;
  display: flex;
  justify-content: flex-end;

  padding-top: 94px;
  padding-right: 120px;
  padding-bottom: 112px;
  padding-left: 120px;

  @media (max-width: $tablet-width-max) {
    justify-content: center;
    padding-top: 79px;
    padding-right: 40px;
    padding-bottom: 103px;
    padding-left: 40px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 28px;
    padding-right: 0;
    padding-bottom: 39px;
    padding-left: 0;
  }
}

.feedback__content {
  width: 572px;

  b {
    font-size: 36px;
    font-weight: 400;
    line-height: 51px;

    display: block;
    margin-bottom: 9px;
    color: $color-2;
  }

  p {
    font-family: $font-1;
    font-size: 16px;
    line-height: 22px;

    margin-top: 0;
    padding-left: 4px;
    color: $color-2;
  }

  @media (max-width: $tablet-width-max) {
    width: 92.5%;

    b {
      font-size: 32px;
      line-height: 45px;

      margin-bottom: 17px;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;

    b {
      font-size: 28px;
      line-height: 39px;

      margin-bottom: 15px;
    }

    p {
      padding-left: 0;
    }
  }
}

.feedback__form {
  margin-top: 51px;
  padding-left: 3px;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 54px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 26px;
    padding-left: 0;
  }
}
