.logo {
  fill: $color-2;
  display: inline-block;
  padding: 10px;
  vertical-align: top;

  &:hover {
    opacity: initial;
  }

  @media (max-width: $mobile-width-max) {
    width: 55px;
    overflow: hidden;
  }
}

.logo svg {
  @media (max-width: $mobile-width-max) {
    width: 150px;
  }
}

.logo_footer {
  fill: $color-5;

  @media (max-width: $mobile-width-max) {
    width: initial;
  }
}

.logo_footer svg {
  @media (max-width: $mobile-width-max) {
    width: initial;
  }
}
