.products {
    background-color: $color-6;
}

.products__container {
    padding-top: 90px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 125px;

    @media (max-width: $tablet-width-max) {
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 35px;
    }
}

.products__header {
    margin-bottom: 52px;

    p {
        margin-top: 0;

        font-size: 36px;
        line-height: 51px;
        color: $color-2;
    }

    @media (max-width: $tablet-width-max) {
        margin-bottom: 50px;

        p {
            padding-right: 10px;

            font-size: 32px;
            line-height: 45px;
        }
    }

    @media (max-width: $mobile-width-max) {
        margin-bottom: 42px;

        p {
            padding-right: 0;
            padding-left: 10px;

            font-size: 28px;
            line-height: 39px;
        }
    }
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include reset;
}

.products__item {
    height: 620px;
    flex: 0 1 calc(33.33% - 20px);

    a {
        position: relative;

        display: block;

        padding-top: 50px;
        padding-left: 43px;
        padding-right: 43px;
        padding-bottom: 50px;

        height: 100%;

        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            z-index: 1;

            right: 0;
            bottom: 0;

            width: 63px;
            height: 63px;

            background-color: $color-3;
            background-image: url("../img/icon-arrow.svg");
            background-position: 55% center;
            background-repeat: no-repeat;
        }
    }

    h3 {
        margin-top: 0;

        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $color-2;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
        opacity: 0.2;
    }

    @media (max-width: $tablet-width-max) {
        height: 256px;
        flex: 100%;
        margin-bottom: 45px;

        a {
            padding-top: 40px;
            padding-left: 45px;
            padding-right: 45px;
            padding-bottom: 40px;
        }
    }

    @media (max-width: $mobile-width-max) {
        margin-bottom: 30px;

        a {
            padding-top: 20px;
            padding-left: 35px;
            padding-right: 35px;
            padding-bottom: 20px;
        }
    }
}
