@font-face {
  font-family: "PT Mono";
  src: local("PT Mono"),
    local("PTMono-Regular"),
    url("../fonts/ptmono-regular.woff2") format("woff2"),
    url("../fonts/ptmono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/robotocondensed-bold.woff2") format("woff2"),
    url("../fonts/robotocondensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("../fonts/robotocondensed-regular.woff2") format("woff2"),
    url("../fonts/robotocondensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
