$bg-basic-1: #ffffff;
$color-1: #666666;
$color-2: #ffffff;
$color-3: #00b2ff;

$font-1: "PT Mono", "Courier New", monospace;

$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1410px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
