$color-1: #666666;
$color-2: #ffffff;
$color-3: #00b2ff;
$color-4: #626962;
$color-5: #203c42;
$color-6: #1b2d37;
$color-7: #ebebeb;

$font-1: "PT Mono", "Courier New", monospace;

$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1410px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
